<h1 id="poznámky-k-splavu-2023">Poznámky k splavu 2023</h1>
<h2 id="všeobecné">Všeobecné</h2>
<p>Splav sa konal od 22.07.2023 do 25.07.2023. Bolo nás 10, mali sme
požičané 4 plastové kanojky a jednu vlastnú nafukovaciu kanojku.</p>
<p>Logy z GPSky sú v priečinku <a href="gpx">gpx</a>. Sú tiež nahodené na <a
href="https://en.mapy.cz/s/foponezepo">mapy.cz</a>.</p>

<table border><thead>
  <tr>
    <th>Deň</th>
    <th>Úsek</th>
    <th>Vzdialenosť</th>
    <th>Čas</th>
  </tr></thead>
<tbody>
  <tr>
    <td>1.</td>
    <td>Bratislava - jazerá </td>
    <td>30km</td>
    <td>7:16h</td>
  </tr>
  <tr>
    <td>2.</td>
    <td>jazerá - ostrov pri Dunasziget</td>
    <td>20km</td>
    <td>8:00h</td>
  </tr>
  <tr>
    <td>3.</td>
    <td>ostrov pri Dunasziget - Ásványráró </td>
    <td>24km</td>
    <td>8:20h</td>
  </tr>
  <tr>
    <td>4.</td>
    <td>Ásnávyráró - Medveďov</td>
    <td>19km</td>
    <td>5:50h</td>
  </tr>
</tbody>
</table>


<h2 id="prvý-deň">Prvý deň</h2>
<p>Z lodenice sme vyrážali o 11:30. Časť po Dunaji bola úplne bez
problémov, nefúkalo, ani neboli také veľké vlny. Je fajn si zobrať so
sebou do lode rozumne dostupné jedlo a vodu, keďže do Čunova je to
pomerne ďaleko.</p>
<p>Prenáška v Čunove je pomerne dlhá, je fajn si ju nechať na niečo viac
k večeru, aby sa neprenášalo cez to najväčšie teplo.</p>
<p><a href="https://en.mapy.cz/s/cofuhedoma">Miesto na kempovanie na
jazerách</a> je fajn, dá sa tam založiť oheň a je tam pokoj, aj keď cez
deň (a víkend) tam zvyknú chodiť ľudia, najmä z kempu.</p>
<h2 id="druhý-deň">Druhý deň</h2>
<p>Druhý deň sme sa ráno kúpali v jazerách a skákali z <a
href="https://en.mapy.cz/s/pevopenehu">hojdačky.</a> Od jazier sme
odchádzali až 12:45.</p>
<p>V <a href="https://en.mapy.cz/s/cegadomaza">kempe</a> sme boli okolo
14:00, dali sme si tam pizzu, dá sa tam nabrať voda (iba teplá), ale
normálne sme ju pili a varili z nej.</p>
<p>Z kempu sme odchádzali okolo 16:00, cesta bola bez problémov, <a
href="https://en.mapy.cz/s/folovovaba">toto rameno</a> bolo zapadané
stromami, ale dalo sa to bez problémov obísť cez <a
href="https://en.mapy.cz/s/napegoseso">vedľajšie rameno</a>.</p>
<p><a href="https://en.mapy.cz/s/nacajareze">V tomto mieste</a> sa časť
ľudí odpojila od hlavného toku, a išli cez <a
href="https://en.mapy.cz/s/cadutuvuko">vedľajšie ramená</a>. Boli tam
popadané stromy, ale dali sa buď obísť alebo jednoducho nadplávať.</p>
<p>Ďalej sme sa tiež rozdelili. Časť išla cez <a
href="https://en.mapy.cz/s/lubozobefu">hať</a> a časť to obišla <a
href="https://en.mapy.cz/s/bujeracufa">týmto bočným ramenom</a>. Obe
cesty boli bez problémov.</p>
<p>Na konci nás čakala ešte <a
href="https://en.mapy.cz/s/lulehebaro">jedna hať</a>. Nesplavovali sme
ju, aj keď zopár ľudí nad tým premýšľalo. Prenáška bola úplne fajn,
stačilo iba preniesť lode krížom cez hať, a aj miesto na naloženie a
vyloženie bolo fajn.</p>
<p>Prvý nápad bol spať <a href="https://en.mapy.cz/s/dehucanebo">na
tomto ostrove</a>, ale nebolo tam dosť miesta na stany.</p>
<p>Nakoniec sme spali <a href="https://en.mapy.cz/s/kugeratodo">na tomto
ostrove</a>, a vyloďovali sa v brode. Je tam pomerne silný prúd a šmýka
sa, tak na to treba byť nachystaní.</p>
<h2 id="tretí-deň">Tretí deň</h2>
<p>Na vodu sme sa dostali okolo 11:00. Počas oboplávavania ostrova sme
si povedali, že to vyskúšame obísť cez <a
href="https://en.mapy.cz/s/mezococufe">toto rameno</a>, ale v tomto
mieste v ňom bol spadnutý strom, cez ktorý sme lode museli prenášať.</p>
<p>Obedovali sme pri <a href="https://en.mapy.cz/s/mezococufe">tejto
hati</a>. Väčšina lodí ju nakoniec splavila, niektoré aj s vecami.</p>
<p>Nasledovali dve celkom akčné hate, <a
href="https://en.mapy.cz/s/nobubupehe">prvá</a> sa dá splaviť aj
stredom, ale do lodí sa nám naliala voda.</p>
<p><a href="https://en.mapy.cz/s/hejumukeju">Druhú hať</a> sme nakoniec
splavili všetci, jedna loď aj s vecami. Plastové lode ju splavovali
ľavým krajom, gumená loď stredom. Pravý kraj nie je splavný, keďže sú
tam veľké kamene.</p>
<p>Netáborili sme <a href="https://en.mapy.cz/s/resalovuva">na mieste
vyznačenom na mapách</a>, keďže sme chceli ísť ešte trochu ďalej, a boli
tam akurát nejakí ľudia.</p>
<p><a href="https://en.mapy.cz/s/desapekuzu">Prvá hať</a> bola splavná,
ale <a href="https://en.mapy.cz/s/haduvajoru">druhá</a> už nie, takže
sme ju obchádzali bočnými ramenami cez <a
href="https://en.mapy.cz/s/jomavuhaza">túto hať</a>, ktorá bola splavná
bez problémov.</p>
<p>Utáborili sme sa <a href="https://en.mapy.cz/s/lorodukode">tu</a>.
Veľa miesta na stany tam nebolo. Večer nám prišli povedať ujovia, že
nemáme byť pod stromami, kúpať sa (kvôli búrke) a zakladať oheň.</p>
<h2 id="štvrtý-deň">Štvrtý deň</h2>
<p>Ráno sme začali splavením <a
href="https://en.mapy.cz/s/kolajemebe">hate</a> pod miestom na spanie,
bolo to bez problémov aj s vecami.</p>
<p>Vyrazili sme okolo 9:30, ale po chvíli sa rozpršalo, takže sme sa <a
href="https://en.mapy.cz/s/cudenakeje">tu</a> vylodili a približne 2
hodiny čakali kým doprší.</p>
<p><a href="https://en.mapy.cz/s/fujopetoga">Táto hať</a> bola
nesplavná, ale prenáška bola krátka - stačilo iba preniesť lode a veci
krížom.</p>
<p>Potom sme sa už len pripojili k Dunaji a odpadovému kanálu z
Gabčíkova.</p>
<p>Za Sapom boli na zopár miestach na ľavej strane celkom vysoko trčiace
kamene z vody.</p>
<p>Pôvodný plán na <a href="https://en.mapy.cz/s/metevosotu">preplavenie
sa do Medveďova priamo</a> nefungoval, keďže bolo málo vody, takže sme
zašli <a href="https://en.mapy.cz/s/numejugope">za most</a>, a potom sa
chvíľu vracali.</p>
